.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 22px;
}
.header-logo {
  width: 150px;
}
.header-list-container {
  display: flex;
  align-items: center;
}
.header-list {
  list-style-type: none;
  display: flex;
}
.header-list-item {
  margin-right: 26px;
}
.logout-button {
  height: 25px;
  background-color: #0967d2;
  border: none;
  color: white;
  border-radius: 3px;
  width: 80px;
  cursor: pointer;
}
.nav-logout {
  display: none;
}
.nav-icons {
  display: none;
}
.link-item {
  text-decoration: none;
  color: black;
}
@media (max-width: 768px) {
  .header-list-container {
    display: none;
  }
  .nav-logout {
    display: block;
    width: 38px;
    cursor: pointer;
  }
  .nav-icons {
    display: block;
    background-color: #c2deee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
  }
  .icon-size {
    width: 35px;
    height: 35px;
  }
}
